{% extends 'base.html' %}
{% load static %}


{% block scripts %}
  <script src="{% static '' %}" defer></script>
{% endblock scripts %}


{% block title %}
  {{title}}
{% endblock title %}


{% block content %}
  <h1 class="text-center">Lista de Horas</h1>
  <br>
  
  {% for s in obj %}
  <p>
    {{s.id_app}} - {{s.name}} - {{s.surname}} - {{s.created_at}} -{{s.updated_at}}
  </p>
  {% endfor %}
{{time}}
  <h2>Lista de entrada y Salida</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">id_persona</th>
        <th scope="col">Nombres</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Fecha Entrada</th>
        <th scope="col">Hora de Entrada</th>
        <th scope="col">Fecha de Salida</th>
        <th scope="col">Hora de Salida</th>
        <th scope="col">Tiempo</th>
        <th scope="col">Proceso</th>
      </tr>
    </thead>
    <tbody>
    {% for a, d in asst_time %}
      <tr>
          <td>{{a.id_ass}}</td>
          <td>{{a.apprentice.id_app}}</td>
          <td>{{a}}</td>
          <td>{{a.apprentice.surname}}</td>
          <td>{{a.entry_at|date}}</td>
          <td>{{a.entry_at|time:"H:i"}}</td>
          <td>{{a.exit_at|date}}</td>
          <td>{{a.exit_at|time:"H:i"}}</td>
          <td>{{ d }}</td>
          <td><button type="button" class="btn btn-danger">Imprimir</button> <button type="button" class="btn btn-info">Actualizar</button></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock content %}
