{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block css %}
<link rel="stylesheet" href="{% static 'student/clock.css' %}">
{% endblock css %}
  

{% block scripts %}
  <script src="{% static 'student/clock.js' %}" defer></script>
{% endblock scripts %}


{% block title %}
  {{title}}
{% endblock title %}


{% block content %}
  <h1 class="text-center">{{title}}</h1>
  <br>
  <p>{{time}}</p>
  <div class="reloj mb-5" id="relojnumerico" onload="cargarReloj()">
  </div>

  <form action="" method="post">
    {% csrf_token %}
    {{ forms|crispy }}
    <button class="btn btn-primary mt-3">Grabar</button>
  </form>

{% endblock content %}